<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testscenario -->
      <package
            uri="http://mdsd.tools/ecoreworkflow/switches/tests/testscenario"
            class="tools.mdsd.ecoreworkflow.examples.switches_with_tyco.bundle.testscenario.TestscenarioPackage"
            genModel="model/testscenario.genmodel"/>
   </extension>

</plugin>
